In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
reg_det = pd.read_csv('WDataFiles_Stage1/WRegularSeasonDetailedResults.csv')
reg_det

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,2019,132,3195,72,3251,49,H,0,26,58,...,14,7,9,10,27,6,17,5,2,18
51578,2019,132,3283,94,3179,79,A,0,31,65,...,30,17,18,9,25,19,24,9,3,25
51579,2019,132,3343,65,3335,54,H,0,23,50,...,11,10,14,10,26,3,12,4,2,18
51580,2019,132,3347,57,3144,45,H,0,20,55,...,23,4,5,9,31,11,9,4,3,16
51581,2019,132,3352,65,3384,54,H,0,22,61,...,19,12,16,14,26,8,20,9,0,19

In [3]:
#Create GameID number
reg_det.reset_index(inplace=True)
reg_det.rename(columns={'index': 'GameID'}, inplace=True)
reg_det.head()

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14

In [33]:
reg_win = reg_det.copy()
reg_win

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,51577,2019,132,3195,72,3251,49,H,0,26,...,14,7,9,10,27,6,17,5,2,18
51578,51578,2019,132,3283,94,3179,79,A,0,31,...,30,17,18,9,25,19,24,9,3,25
51579,51579,2019,132,3343,65,3335,54,H,0,23,...,11,10,14,10,26,3,12,4,2,18
51580,51580,2019,132,3347,57,3144,45,H,0,20,...,23,4,5,9,31,11,9,4,3,16
51581,51581,2019,132,3352,65,3384,54,H,0,22,...,19,12,16,14,26,8,20,9,0,19

In [34]:
reg_win.rename(columns={'WTeamID': 'TeamID', 'WScore': 'Score', 'WLoc': 'Loc', 'WFGM': 'FGM', 'WFGA': 'FGA',
                        'WFGM3': 'FGM3', 'WFGA3': 'FGA3', 'WFTM': 'FTM', 'WFTA': 'FTA', 'WOR': 'OR', 'WDR': 'DR',
                        'WAst': 'Ast', 'WTO': 'TO', 'WStl': 'Stl', 'WBlk': 'Blk', 'WPF': 'PF', 'LTeamID': 'OTeamID',
                        'LScore': 'OScore', 'LFGM': 'OFGM', 'LFGA': 'OFGA', 'LFGM3': 'OFGM3', 'LFGA3': 'OFGA3',
                        'LFTM': 'OFTM', 'LFTA': 'OFTA', 'LOR': 'OOR', 'LDR': 'ODR', 'LAst': 'OAst', 'LTO': 'OTO',
                        'LStl': 'OStl', 'LBlk': 'OBlk', 'LPF': 'OPF'}, inplace=True)

In [35]:
reg_lose = reg_det.copy()
reg_lose.rename(columns={'WTeamID': 'OTeamID', 'WScore': 'OScore', 'WLoc': 'Loc', 'WFGM': 'OFGM', 'WFGA': 'OFGA',
                        'WFGM3': 'OFGM3', 'WFGA3': 'OFGA3', 'WFTM': 'OFTM', 'WFTA': 'OFTA', 'WOR': 'OOR', 'WDR': 'ODR',
                        'WAst': 'OAst', 'WTO': 'OTO', 'WStl': 'OStl', 'WBlk': 'OBlk', 'WPF': 'OPF', 'LTeamID': 'TeamID',
                        'LScore': 'Score', 'LFGM': 'FGM', 'LFGA': 'FGA', 'LFGM3': 'FGM3', 'LFGA3': 'FGA3',
                        'LFTM': 'FTM', 'LFTA': 'FTA', 'LOR': 'OR', 'LDR': 'DR', 'LAst': 'Ast', 'LTO': 'TO',
                        'LStl': 'Stl', 'LBlk': 'Blk', 'LPF': 'PF'}, inplace=True)

In [36]:
#Swap Home and Away
def loser_location(loc):
    if loc == 'H':
        return 'A'
    elif loc == 'A':
        return 'H'
    else:
        return loc

In [37]:
reg_lose['Loc'] = reg_lose['Loc'].apply(loser_location)

In [55]:
reg_win['Result'] = 1
reg_lose['Result'] = 0

In [56]:
reg_win = reg_win[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [57]:
reg_lose = reg_lose[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [63]:
reg = pd.concat((reg_win, reg_lose)).reset_index(drop=True)

In [64]:
#Possessions = FGA-OR+TO+.475*FTA
reg['Poss'] = reg['FGA'] - reg['OR'] + reg['TO'] + 0.475 * reg['FTA']
reg['OPoss'] = reg['OFGA'] - reg['OOR'] + reg['OTO'] + 0.475 * reg['OFTA']
reg['Pace'] = (reg['OPoss'] + reg['Poss']) / 2

In [66]:
#Offensive Rating = Points/Pace * 100
#Defensive Rating = Opposing Points/Pace * 100
reg['OFF'] = reg['Score'] / reg['Pace'] * 100
reg['DEF'] = reg['OScore'] / reg['Pace'] * 100

In [68]:
reg.sort_values(by='TeamID')

,GameID,Season,DayNum,Loc,NumOT,TeamID,Score,FGM,FGA,FGM3,...,OTO,OStl,OBlk,OPF,Result,Poss,OPoss,Pace,OFF,DEF
43772,43772,2018,75,H,0,3101,80,28,56,12,...,22,11,1,20,1,73.075,71.025,72.0500,111.034004,56.904927
29689,29689,2015,107,H,0,3101,76,25,54,10,...,27,7,7,21,1,66.925,67.750,67.3375,112.864303,60.887321
50333,50333,2019,103,A,0,3101,71,24,52,5,...,21,6,1,22,1,68.925,68.650,68.7875,103.216427,72.687625
80073,28491,2015,80,H,0,3101,58,20,60,10,...,22,6,2,16,0,66.125,67.500,66.8125,86.810103,94.293732
46910,46910,2019,15,A,0,3101,58,18,63,5,...,21,8,7,19,1,74.400,73.025,73.7125,78.684077,62.404613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102744,51162,2019,120,A,0,3466,48,19,54,3,...,28,12,1,14,0,71.750,71.800,71.7750,66.875653,84.987809
47914,47914,2019,42,A,0,3466,86,29,65,12,...,16,11,3,19,1,83.550,83.600,83.5750,102.901585,86.150165
102887,51305,2019,123,H,0,3466,53,22,63,4,...,15,5,4,9,0,66.325,66.025,66.1750,80.090669,83.112958
49173,49173,2019,75,H,0,3466,71,27,56,10,...,19,10,3,10,1,68.225,69.650,68.9375,102.991840,79.782412
50879,50879,2019,114,H,0,3466,68,24,58,8,...,20,10,3,23,1,73.600,74.550,74.0750,91.798853,79.649004

In [76]:
reg.groupby(['Season']).mean()

,GameID,DayNum,NumOT,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,...,OTO,OStl,OBlk,OPF,Result,Poss,OPoss,Pace,OFF,DEF
Season,,,,,,,,,,,,,,,,,,,,,
2010,2518.0,70.309311,0.054596,3284.710641,63.531566,22.769406,57.510820,5.192376,16.282212,12.800377,...,17.874727,8.390014,3.266925,17.221461,0.5,70.966754,70.966754,70.966754,89.526941,89.526941
2011,7578.5,70.381196,0.051338,3284.199449,63.443253,22.722168,57.664437,5.258655,16.599430,12.740264,...,17.673780,8.427518,3.289437,17.103560,0.5,70.955149,70.955149,70.955149,89.403858,89.403858
2012,12645.5,70.454455,0.049307,3284.306634,62.198020,22.469010,57.754257,4.864653,15.829505,12.395347,...,17.282277,8.582970,3.366238,16.401287,0.5,70.256389,70.256389,70.256389,88.524166,88.524166
2013,17742.0,67.723702,0.052110,3284.994458,61.831907,22.488820,57.975598,4.946140,16.186661,11.908128,...,16.974917,8.511180,3.357185,16.185300,0.5,70.025661,70.025661,70.025661,88.303910,88.303910
2014,22926.5,68.592614,0.050134,3283.935228,67.401359,24.015404,59.443934,5.417432,17.160639,13.953119,...,15.936950,7.498565,3.159491,18.757654,0.5,71.967236,71.967236,71.967236,93.618337,93.618337
2015,28138.5,70.269527,0.053482,3283.825702,64.322624,23.305791,58.657464,5.273182,16.798961,12.437861,...,16.157080,7.745094,3.425356,17.565121,0.5,70.616514,70.616514,70.616514,91.062552,91.062552
2016,33330.0,70.932498,0.052266,3283.604532,64.231919,23.403182,58.923819,5.510511,17.639344,11.915043,...,16.038669,7.717358,3.382160,17.610029,0.5,70.575171,70.575171,70.575171,90.959215,90.959215
2017,38527.5,70.569098,0.049328,3283.961036,64.793762,23.521401,58.867754,5.802687,18.317179,11.948273,...,15.808541,7.684549,3.313244,17.572169,0.5,70.488812,70.488812,70.488812,91.922045,91.922045
2018,43737.0,70.739681,0.052985,3283.934248,65.364369,23.740929,58.906220,5.969284,18.724707,11.913227,...,15.752448,7.660491,3.345364,17.138414,0.5,70.581710,70.581710,70.581710,92.587081,92.587081
2019,48961.5,67.842939,0.050382,3284.793702,64.954866,23.586355,58.734542,6.018798,19.066794,11.763359,...,15.891031,7.659637,3.220802,17.302099,0.5,70.695689,70.695689,70.695689,91.872509,91.872509

In [53]:
list(reg_lose)

['GameID',
 'Season',
 'DayNum',
 'OTeamID',
 'OScore',
 'TeamID',
 'Score',
 'Loc',
 'NumOT',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF']

In [54]:
list(reg_win)

['GameID',
 'Season',
 'DayNum',
 'TeamID',
 'Score',
 'OTeamID',
 'OScore',
 'Loc',
 'NumOT',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF']