In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
reg_det = pd.read_csv('WDataFiles_Stage1/WRegularSeasonDetailedResults.csv')
reg_det

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,2019,132,3195,72,3251,49,H,0,26,58,...,14,7,9,10,27,6,17,5,2,18
51578,2019,132,3283,94,3179,79,A,0,31,65,...,30,17,18,9,25,19,24,9,3,25
51579,2019,132,3343,65,3335,54,H,0,23,50,...,11,10,14,10,26,3,12,4,2,18
51580,2019,132,3347,57,3144,45,H,0,20,55,...,23,4,5,9,31,11,9,4,3,16
51581,2019,132,3352,65,3384,54,H,0,22,61,...,19,12,16,14,26,8,20,9,0,19

In [3]:
#Create GameID number
reg_det.reset_index(inplace=True)
reg_det.rename(columns={'index': 'GameID'}, inplace=True)
reg_det.head()

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14

In [4]:
reg_win = reg_det.copy()
reg_win

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,51577,2019,132,3195,72,3251,49,H,0,26,...,14,7,9,10,27,6,17,5,2,18
51578,51578,2019,132,3283,94,3179,79,A,0,31,...,30,17,18,9,25,19,24,9,3,25
51579,51579,2019,132,3343,65,3335,54,H,0,23,...,11,10,14,10,26,3,12,4,2,18
51580,51580,2019,132,3347,57,3144,45,H,0,20,...,23,4,5,9,31,11,9,4,3,16
51581,51581,2019,132,3352,65,3384,54,H,0,22,...,19,12,16,14,26,8,20,9,0,19

In [5]:
reg_win.rename(columns={'WTeamID': 'TeamID', 'WScore': 'Score', 'WLoc': 'Loc', 'WFGM': 'FGM', 'WFGA': 'FGA',
                        'WFGM3': 'FGM3', 'WFGA3': 'FGA3', 'WFTM': 'FTM', 'WFTA': 'FTA', 'WOR': 'OR', 'WDR': 'DR',
                        'WAst': 'Ast', 'WTO': 'TO', 'WStl': 'Stl', 'WBlk': 'Blk', 'WPF': 'PF', 'LTeamID': 'OTeamID',
                        'LScore': 'OScore', 'LFGM': 'OFGM', 'LFGA': 'OFGA', 'LFGM3': 'OFGM3', 'LFGA3': 'OFGA3',
                        'LFTM': 'OFTM', 'LFTA': 'OFTA', 'LOR': 'OOR', 'LDR': 'ODR', 'LAst': 'OAst', 'LTO': 'OTO',
                        'LStl': 'OStl', 'LBlk': 'OBlk', 'LPF': 'OPF'}, inplace=True)

In [6]:
reg_lose = reg_det.copy()
reg_lose.rename(columns={'WTeamID': 'OTeamID', 'WScore': 'OScore', 'WLoc': 'Loc', 'WFGM': 'OFGM', 'WFGA': 'OFGA',
                        'WFGM3': 'OFGM3', 'WFGA3': 'OFGA3', 'WFTM': 'OFTM', 'WFTA': 'OFTA', 'WOR': 'OOR', 'WDR': 'ODR',
                        'WAst': 'OAst', 'WTO': 'OTO', 'WStl': 'OStl', 'WBlk': 'OBlk', 'WPF': 'OPF', 'LTeamID': 'TeamID',
                        'LScore': 'Score', 'LFGM': 'FGM', 'LFGA': 'FGA', 'LFGM3': 'FGM3', 'LFGA3': 'FGA3',
                        'LFTM': 'FTM', 'LFTA': 'FTA', 'LOR': 'OR', 'LDR': 'DR', 'LAst': 'Ast', 'LTO': 'TO',
                        'LStl': 'Stl', 'LBlk': 'Blk', 'LPF': 'PF'}, inplace=True)

In [7]:
#Swap Home and Away
def loser_location(loc):
    if loc == 'H':
        return 'A'
    elif loc == 'A':
        return 'H'
    else:
        return loc

In [8]:
reg_lose['Loc'] = reg_lose['Loc'].apply(loser_location)

In [9]:
reg_win['Result'] = 1
reg_lose['Result'] = 0

In [10]:
reg_win = reg_win[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [11]:
reg_lose = reg_lose[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [12]:
reg = pd.concat((reg_win, reg_lose)).reset_index(drop=True)

In [13]:
#Possessions = FGA-OR+TO+.475*FTA
reg['Poss'] = reg['FGA'] - reg['OR'] + reg['TO'] + 0.475 * reg['FTA']
reg['OPoss'] = reg['OFGA'] - reg['OOR'] + reg['OTO'] + 0.475 * reg['OFTA']
reg['Pace'] = (reg['OPoss'] + reg['Poss']) / 2

In [14]:
#Offensive Rating = Points/Pace * 100
#Defensive Rating = Opposing Points/Pace * 100
reg['OFF'] = reg['Score'] / reg['Pace'] * 100
reg['DEF'] = reg['OScore'] / reg['Pace'] * 100

In [15]:
reg.sort_values(by='TeamID')

,GameID,Season,DayNum,Loc,NumOT,TeamID,Score,FGM,FGA,FGM3,...,OTO,OStl,OBlk,OPF,Result,Poss,OPoss,Pace,OFF,DEF
43772,43772,2018,75,H,0,3101,80,28,56,12,...,22,11,1,20,1,73.075,71.025,72.0500,111.034004,56.904927
29689,29689,2015,107,H,0,3101,76,25,54,10,...,27,7,7,21,1,66.925,67.750,67.3375,112.864303,60.887321
50333,50333,2019,103,A,0,3101,71,24,52,5,...,21,6,1,22,1,68.925,68.650,68.7875,103.216427,72.687625
80073,28491,2015,80,H,0,3101,58,20,60,10,...,22,6,2,16,0,66.125,67.500,66.8125,86.810103,94.293732
46910,46910,2019,15,A,0,3101,58,18,63,5,...,21,8,7,19,1,74.400,73.025,73.7125,78.684077,62.404613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102744,51162,2019,120,A,0,3466,48,19,54,3,...,28,12,1,14,0,71.750,71.800,71.7750,66.875653,84.987809
47914,47914,2019,42,A,0,3466,86,29,65,12,...,16,11,3,19,1,83.550,83.600,83.5750,102.901585,86.150165
102887,51305,2019,123,H,0,3466,53,22,63,4,...,15,5,4,9,0,66.325,66.025,66.1750,80.090669,83.112958
49173,49173,2019,75,H,0,3466,71,27,56,10,...,19,10,3,10,1,68.225,69.650,68.9375,102.991840,79.782412
50879,50879,2019,114,H,0,3466,68,24,58,8,...,20,10,3,23,1,73.600,74.550,74.0750,91.798853,79.649004

In [16]:
off_rating = reg.groupby(['Season', 'TeamID']).mean()

In [17]:
off_rating = off_rating[['OFF']]

In [18]:
off_rating.reset_index(inplace=True)

In [19]:
pace_rating = reg[reg.NumOT == 0]

In [20]:
pace_rating = reg.groupby(['Season', 'TeamID']).mean()
pace_rating = pace_rating[['Pace']]
pace_rating.reset_index(inplace=True)

In [21]:
def_rating = reg.groupby(['Season', 'OTeamID']).mean()
def_rating = def_rating[['DEF']]
def_rating.reset_index(inplace=True)

In [22]:
wins = reg.groupby(['Season', 'TeamID']).sum()
wins = wins[['Result']]
wins.rename(columns={'Result': 'Wins'}, inplace=True)
wins.reset_index(inplace=True)

In [23]:
games = reg.groupby(['Season', 'TeamID']).count()
games = games[['Result']]
games.rename(columns={'Result': 'Games'}, inplace=True)
games.reset_index(inplace=True)

In [24]:
win_games = pd.merge(wins, games, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [25]:
win_games['WinP'] = win_games['Wins'] / win_games['Games']

In [26]:
reg_add = pd.merge(reg, win_games, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [27]:
opp_win = win_games.drop(['Wins', 'Games'], axis=1)
opp_win.rename(columns={'WinP': 'OWinP', 'TeamID': 'OTeamID'}, inplace=True)

In [28]:
reg_add_opp = pd.merge(reg_add, opp_win, how='left', left_on=['Season', 'OTeamID'], right_on=['Season', 'OTeamID'])

In [29]:
avg_opp = reg_add_opp.groupby(['Season', 'TeamID']).mean()
avg_opp = avg_opp[['OWinP']]
avg_opp.reset_index(inplace=True)

In [30]:
reg_add_opp.drop(['OWinP'], axis=1, inplace=True)
reg_avg_opp = pd.merge(reg_add, avg_opp, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [31]:
avg_opp_opp = reg_avg_opp.groupby(['Season', 'TeamID']).mean()
avg_opp_opp

                     GameID     DayNum     NumOT      Score        FGM  \
Season TeamID
2010   3102     2557.857143  71.071429  0.000000  51.821429  19.142857
       3103     2491.800000  70.433333  0.033333  62.233333  22.233333
       3104     2329.137931  65.931034  0.103448  64.137931  24.724138
       3105     2943.037037  81.222222  0.000000  60.777778  20.370370
       3106     2909.862069  80.068966  0.034483  55.137931  18.448276
...                     ...        ...       ...        ...        ...
2019   3462    48903.758621  66.517241  0.137931  60.862069  21.896552
       3463    48792.241379  62.620690  0.034483  63.344828  23.724138
       3464    48911.379310  66.344828  0.068966  68.137931  23.241379
       3465    48892.520000  65.600000  0.080000  76.200000  28.560000
       3466    49214.913043  73.608696  0.130435  69.521739  24.869565

                     FGA      FGM3       FGA3        FTM        FTA  ...  \
Season TeamID                                                        ...
2010   3102    53.142857  4.571429  16.071429   8.964286  13.214286  ...
       3103    55.266667  3.933333  12.466667  13.833333  19.600000  ...
       3104    62.103448  4.344828  14.724138  10.344828  16.793103  ...
       3105    50.851852  3.037037   9.888889  17.000000  24.333333  ...
       3106    53.000000  2.689655   9.586207  15.551724  24.000000  ...
...                  ...       ...        ...        ...        ...  ...
2019   3462    57.517241  7.862069  25.758621   9.206897  14.000000  ...
       3463    60.517241  5.551724  19.965517  10.344828  15.827586  ...
       3464    55.758621  8.620690  25.551724  13.034483  16.931034  ...
       3465    67.520000  9.160000  27.400000   9.920000  14.400000  ...
       3466    58.434783  6.217391  21.043478  13.565217  18.652174  ...

                 Result       Poss      OPoss       Pace         OFF  \
Season TeamID
2010   3102    0.035714  64.669643  65.038393  64.854018   79.972377
       3103    0.566667  68.643333  68.979167  68.811250   90.605658
       3104    0.379310  74.769828  74.950862  74.860345   85.556421
       3105    0.518519  73.780556  74.245370  74.012963   82.125294
       3106    0.413793  69.503448  69.281897  69.392672   79.593698
...                 ...        ...        ...        ...         ...
2019   3462    0.344828  69.753448  69.565517  69.659483   86.952443
       3463    0.551724  71.000862  70.975862  70.988362   88.854816
       3464    0.689655  67.835345  67.734483  67.784914  100.523964
       3465    0.560000  78.640000  78.641000  78.640500   97.313376
       3466    0.652174  75.251087  75.142391  75.196739   92.393956

                      DEF  Wins  Games      WinP     OWinP
Season TeamID
2010   3102    111.163872   1.0   28.0  0.035714  0.554309
       3103     86.870814  17.0   30.0  0.566667  0.478130
       3104     89.598056  11.0   29.0  0.379310  0.529278
       3105     87.757739  14.0   27.0  0.518519  0.408657
       3106     82.385616  12.0   29.0  0.413793  0.436372
...                   ...   ...    ...       ...       ...
2019   3462     95.662912  10.0   29.0  0.344828  0.545711
       3463     86.356094  16.0   29.0  0.551724  0.492282
       3464     85.597953  20.0   29.0  0.689655  0.458233
       3465     88.462510  14.0   25.0  0.560000  0.420086
       3466     83.927165  15.0   23.0  0.652174  0.379231

[3469 rows x 42 columns]

In [32]:
avg_opp_opp = avg_opp_opp[['OWinP']]
avg_opp_opp

                  OWinP
Season TeamID
2010   3102    0.554309
       3103    0.478130
       3104    0.529278
       3105    0.408657
       3106    0.436372
...                 ...
2019   3462    0.545711
       3463    0.492282
       3464    0.458233
       3465    0.420086
       3466    0.379231

[3469 rows x 1 columns]

In [33]:
avg_opp_opp.rename(columns={'OWinP': 'OppOWinP'}, inplace=True)
# avg_opp_opp.reset_index(inplace=True)

/Users/jonathanpiech/anaconda3/envs/ncaa/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [34]:
avg_opp_opp.reset_index(inplace=True)

In [35]:
reg_rpi = pd.merge(reg_avg_opp, avg_opp_opp, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [36]:
reg_rpi['RPI'] = 0.25*reg_rpi['WinP'] + 0.5*reg_rpi['OWinP'] + 0.25*reg_rpi['OppOWinP']

In [37]:
reg_rpi.sort_values(by=['RPI'])

,GameID,Season,DayNum,Loc,NumOT,TeamID,Score,FGM,FGA,FGM3,...,OPoss,Pace,OFF,DEF,Wins,Games,WinP,OWinP,OppOWinP,RPI
67382,15800,2013,18,H,0,3223,57,17,53,4,...,84.550,85.6875,66.520788,75.857039,4,27,0.148148,0.382644,0.382644,0.324020
70450,18868,2013,96,H,0,3223,58,25,65,2,...,73.025,72.4125,80.096668,89.763508,4,27,0.148148,0.382644,0.382644,0.324020
19985,19985,2013,122,H,0,3223,92,36,64,8,...,81.725,83.8250,109.752460,67.998807,4,27,0.148148,0.382644,0.382644,0.324020
67208,15626,2013,13,A,0,3223,46,17,48,5,...,66.025,65.7875,69.922098,95.762873,4,27,0.148148,0.382644,0.382644,0.324020
68870,17288,2013,61,H,1,3223,83,29,53,5,...,76.975,75.5875,109.806516,111.129486,4,27,0.148148,0.382644,0.382644,0.324020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,657,2010,25,H,0,3163,91,33,60,5,...,81.125,81.2375,112.017233,56.624096,32,32,1.000000,0.657517,0.657517,0.743138
4891,4891,2010,126,H,0,3163,59,25,55,6,...,63.950,64.3500,91.686092,68.376068,32,32,1.000000,0.657517,0.657517,0.743138
1968,1968,2010,61,A,0,3163,91,38,67,6,...,74.425,74.0875,122.827737,32.394129,32,32,1.000000,0.657517,0.657517,0.743138
4604,4604,2010,119,A,0,3163,76,30,54,6,...,68.075,68.5750,110.827561,74.371127,32,32,1.000000,0.657517,0.657517,0.743138
2096,2096,2010,63,H,0,3163,84,31,58,9,...,66.125,66.8625,125.630959,62.815480,32,32,1.000000,0.657517,0.657517,0.743138

In [41]:
reg_rpi.to_csv("derived_stats.csv", index=False)

In [40]:
reg_rpi

,GameID,Season,DayNum,Loc,NumOT,TeamID,Score,FGM,FGA,FGM3,...,OPoss,Pace,OFF,DEF,Wins,Games,WinP,OWinP,OppOWinP,RPI
0,0,2010,11,H,0,3103,63,23,54,5,...,70.750,70.8875,88.873215,69.123611,17,30,0.566667,0.478130,0.478130,0.500264
1,1,2010,11,N,0,3104,73,26,62,5,...,81.825,80.5625,90.612878,84.406517,11,29,0.379310,0.529278,0.529278,0.491786
2,2,2010,11,A,0,3110,71,29,62,6,...,66.925,66.8125,106.267540,88.306829,13,21,0.619048,0.510250,0.510250,0.537449
3,3,2010,11,A,0,3111,63,27,52,4,...,74.875,76.0750,82.813013,76.240552,19,31,0.612903,0.488375,0.488375,0.519507
4,4,2010,11,H,1,3119,74,30,74,7,...,76.975,76.6000,96.605744,91.383812,8,24,0.333333,0.411396,0.411396,0.391880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103159,51577,2019,132,A,0,3251,49,19,53,4,...,65.650,64.9625,75.428132,110.833173,15,31,0.483871,0.496634,0.496634,0.493444
103160,51578,2019,132,H,0,3179,79,24,56,14,...,78.675,79.1125,99.857797,118.818139,26,32,0.812500,0.543791,0.543791,0.610968
103161,51579,2019,132,A,0,3335,54,20,56,4,...,64.550,64.6000,83.591331,100.619195,22,28,0.785714,0.481376,0.481376,0.557461
103162,51580,2019,132,A,0,3144,45,18,61,5,...,63.975,63.6750,70.671378,89.517079,19,31,0.612903,0.423150,0.423150,0.470589
103163,51581,2019,132,A,0,3384,54,19,57,4,...,69.975,70.2875,76.827316,92.477325,15,32,0.468750,0.488198,0.488198,0.483336