# Derive Stats to use in Model

In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import matplotlib as plt

## Separate game data from winning Team vs. losing Team to team vs. opponent

In [2]:
#Load dataframe of regular season game stats from 2010-2019
reg_det = pd.read_csv('WDataFiles_Stage1/WRegularSeasonDetailedResults.csv')
reg_det

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,2019,132,3195,72,3251,49,H,0,26,58,...,14,7,9,10,27,6,17,5,2,18
51578,2019,132,3283,94,3179,79,A,0,31,65,...,30,17,18,9,25,19,24,9,3,25
51579,2019,132,3343,65,3335,54,H,0,23,50,...,11,10,14,10,26,3,12,4,2,18
51580,2019,132,3347,57,3144,45,H,0,20,55,...,23,4,5,9,31,11,9,4,3,16
51581,2019,132,3352,65,3384,54,H,0,22,61,...,19,12,16,14,26,8,20,9,0,19

In [3]:
#Create GameID number
reg_det.reset_index(inplace=True)
reg_det.rename(columns={'index': 'GameID'}, inplace=True)
reg_det.head()

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14

In [4]:
#Create copy of dataframe for winning teams
reg_win = reg_det.copy()
reg_win

,GameID,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,63,3237,49,H,0,23,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,73,3399,68,N,0,26,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,71,3224,59,A,0,29,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,63,3267,58,A,0,27,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,74,3447,70,H,1,30,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51577,51577,2019,132,3195,72,3251,49,H,0,26,...,14,7,9,10,27,6,17,5,2,18
51578,51578,2019,132,3283,94,3179,79,A,0,31,...,30,17,18,9,25,19,24,9,3,25
51579,51579,2019,132,3343,65,3335,54,H,0,23,...,11,10,14,10,26,3,12,4,2,18
51580,51580,2019,132,3347,57,3144,45,H,0,20,...,23,4,5,9,31,11,9,4,3,16
51581,51581,2019,132,3352,65,3384,54,H,0,22,...,19,12,16,14,26,8,20,9,0,19

In [5]:
#Rename columns: winning team stats to team stats and losing team stats to opposing team stats
reg_win.rename(columns={'WTeamID': 'TeamID', 'WScore': 'Score', 'WLoc': 'Loc', 'WFGM': 'FGM', 'WFGA': 'FGA',
                        'WFGM3': 'FGM3', 'WFGA3': 'FGA3', 'WFTM': 'FTM', 'WFTA': 'FTA', 'WOR': 'OR', 'WDR': 'DR',
                        'WAst': 'Ast', 'WTO': 'TO', 'WStl': 'Stl', 'WBlk': 'Blk', 'WPF': 'PF', 'LTeamID': 'OTeamID',
                        'LScore': 'OScore', 'LFGM': 'OFGM', 'LFGA': 'OFGA', 'LFGM3': 'OFGM3', 'LFGA3': 'OFGA3',
                        'LFTM': 'OFTM', 'LFTA': 'OFTA', 'LOR': 'OOR', 'LDR': 'ODR', 'LAst': 'OAst', 'LTO': 'OTO',
                        'LStl': 'OStl', 'LBlk': 'OBlk', 'LPF': 'OPF'}, inplace=True)

In [6]:
#Create copy of dataframe for losing teams
reg_lose = reg_det.copy()

#Rename columns: losing team stats to team stats and winning team stats to opposing team stats
reg_lose.rename(columns={'WTeamID': 'OTeamID', 'WScore': 'OScore', 'WLoc': 'Loc', 'WFGM': 'OFGM', 'WFGA': 'OFGA',
                        'WFGM3': 'OFGM3', 'WFGA3': 'OFGA3', 'WFTM': 'OFTM', 'WFTA': 'OFTA', 'WOR': 'OOR', 'WDR': 'ODR',
                        'WAst': 'OAst', 'WTO': 'OTO', 'WStl': 'OStl', 'WBlk': 'OBlk', 'WPF': 'OPF', 'LTeamID': 'TeamID',
                        'LScore': 'Score', 'LFGM': 'FGM', 'LFGA': 'FGA', 'LFGM3': 'FGM3', 'LFGA3': 'FGA3',
                        'LFTM': 'FTM', 'LFTA': 'FTA', 'LOR': 'OR', 'LDR': 'DR', 'LAst': 'Ast', 'LTO': 'TO',
                        'LStl': 'Stl', 'LBlk': 'Blk', 'LPF': 'PF'}, inplace=True)

In [7]:
#Create function to swap Home and Away for losing team dataframes
def loser_location(loc):
    if loc == 'H':
        return 'A'
    elif loc == 'A':
        return 'H'
    else:
        return loc

In [8]:
#Swap Home and Away
reg_lose['Loc'] = reg_lose['Loc'].apply(loser_location)

In [9]:
#Add result column to winning and losing team dataframes
reg_win['Result'] = 1
reg_lose['Result'] = 0

In [10]:
#Reorder columns of winning teams
reg_win = reg_win[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [11]:
#Reorder columns of losing teams
reg_lose = reg_lose[['GameID',
 'Season',
 'DayNum',
 'Loc',
 'NumOT',
 'TeamID',
 'Score',
 'FGM',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'OTeamID',
 'OScore',
 'OFGM',
 'OFGA',
 'OFGM3',
 'OFGA3',
 'OFTM',
 'OFTA',
 'OOR',
 'ODR',
 'OAst',
 'OTO',
 'OStl',
 'OBlk',
 'OPF',
 'Result']]

In [12]:
#Combine winning and losing team dataframes
reg = pd.concat((reg_win, reg_lose)).reset_index(drop=True)

## Use regular season data to derive stats

In [13]:
#Create possession and pace stats

#Possessions = FGA-OR+TO+.475*FTA
reg['Poss'] = reg['FGA'] - reg['OR'] + reg['TO'] + 0.475 * reg['FTA']
reg['OPoss'] = reg['OFGA'] - reg['OOR'] + reg['OTO'] + 0.475 * reg['OFTA']

#Pace is the average amount of possessions of the game between both teams
reg['Pace'] = (reg['OPoss'] + reg['Poss']) / 2

In [14]:
#Create offensive and defensive ratings for the team per game

#Offensive Rating = Score/Pace * 100
#Defensive Rating = Opposing Score/Pace * 100
reg['OFF'] = reg['Score'] / reg['Pace'] * 100
reg['DEF'] = reg['OScore'] / reg['Pace'] * 100

In [15]:
#Group by season and team id to get a team's average offensive rating for the season
off_rating = reg.groupby(['Season', 'TeamID']).mean()

In [16]:
#Select only the offensive rating column
off_rating = off_rating[['OFF']]

In [17]:
#Rename column to reflect the team's average offensive rating for the season
off_rating.rename(columns={'OFF': 'AvgOFF'}, inplace=True)

In [18]:
#Reset index
off_rating.reset_index(inplace=True)

In [19]:
#Merge team's average offensive rating to regular season game data
reg = pd.merge(reg, off_rating, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [20]:
#Select all games that did not go to overtime to get accurate number of possessions per game (pace)
pace_rating = reg[reg.NumOT == 0]

#Group by season and team id to get a team's average pace rating for the season
pace_rating = reg.groupby(['Season', 'TeamID']).mean()
pace_rating = pace_rating[['Pace']]
pace_rating.rename(columns={'Pace': 'AvgPace'}, inplace=True)
pace_rating.reset_index(inplace=True)
reg = pd.merge(reg, pace_rating, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [21]:
#Group by season and opposing team id to get a team's average defensive rating for the season
def_rating = reg.groupby(['Season', 'OTeamID']).mean()
def_rating = def_rating[['DEF']]
def_rating.rename(columns={'DEF': 'AvgDEF'}, inplace=True)
def_rating.reset_index(inplace=True)
reg = pd.merge(reg, def_rating, how='left', left_on=['Season', 'OTeamID'], right_on=['Season', 'OTeamID'])

In [22]:
#Group by season and team id to get a team's number of wins for the season
wins = reg.groupby(['Season', 'TeamID']).sum()
wins = wins[['Result']]
wins.rename(columns={'Result': 'Wins'}, inplace=True)
wins.reset_index(inplace=True)

In [23]:
#Group by season and team id to get a team's number of games for the season
games = reg.groupby(['Season', 'TeamID']).count()
games = games[['Result']]
games.rename(columns={'Result': 'Games'}, inplace=True)
games.reset_index(inplace=True)

In [24]:
#Merge wins and games dataframe on season and team id
win_games = pd.merge(wins, games, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [25]:
#Calculate winning percentage = wins/games
win_games['WinP'] = win_games['Wins'] / win_games['Games']

In [26]:
#Merge winning percentage dataframe with regular season game dataframe
reg_add = pd.merge(reg, win_games, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [27]:
#Create a dataframe for opposing team's winning percentage

#Drops wins and games columns kepping winning percentage column
opp_win = win_games.drop(['Wins', 'Games'], axis=1)

#Rename columns from team to opponent
opp_win.rename(columns={'WinP': 'OWinP', 'TeamID': 'OTeamID'}, inplace=True)

In [28]:
#Merge opponents winning percentage onto regular season game dataframe
reg_add_opp = pd.merge(reg_add, opp_win, how='left', left_on=['Season', 'OTeamID'], right_on=['Season', 'OTeamID'])

In [29]:
#Group by season and team id to get a team's average winning percentage of the opposing team
avg_opp = reg_add_opp.groupby(['Season', 'TeamID']).mean()
avg_opp = avg_opp[['OWinP']]
avg_opp.reset_index(inplace=True)

In [30]:
#Drops the column with the winning percentage of the opposing team
reg_add_opp.drop(['OWinP'], axis=1, inplace=True)

#Merge data frame with the average winning percentage of the opposing team
reg_avg_opp = pd.merge(reg_add, avg_opp, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [31]:
#Group by season and team id to get a team's average opponent's winning percentage of opponents
avg_opp_opp = reg_avg_opp.groupby(['Season', 'TeamID']).mean()
avg_opp_opp = avg_opp_opp[['OWinP']]
avg_opp_opp.rename(columns={'OWinP': 'OppOWinP'}, inplace=True)
avg_opp_opp.reset_index(inplace=True)

In [32]:
#Merge opponent's opponents winning percentage to regular season dataframe
reg_rpi = pd.merge(reg_avg_opp, avg_opp_opp, how='left', left_on=['Season', 'TeamID'], right_on=['Season', 'TeamID'])

In [33]:
#Calculate RPI = .25 * winning percentage + .5 * opponent's winning percentage + .25 opponent's opponent's winning percentage
reg_rpi['RPI'] = 0.25*reg_rpi['WinP'] + 0.5*reg_rpi['OWinP'] + 0.25*reg_rpi['OppOWinP']
reg_rpi

,GameID,Season,DayNum,Loc,NumOT,TeamID,Score,FGM,FGA,FGM3,...,DEF,AvgOFF,AvgPace,AvgDEF,Wins,Games,WinP,OWinP,OppOWinP,RPI
0,0,2010,11,H,0,3103,63,23,54,5,...,69.123611,90.605658,68.811250,73.424772,17,30,0.566667,0.478130,0.478130,0.500264
1,1,2010,11,N,0,3104,73,26,62,5,...,84.406517,85.556421,74.860345,91.806469,11,29,0.379310,0.529278,0.529278,0.491786
2,2,2010,11,A,0,3110,71,29,62,6,...,88.306829,94.242629,64.173810,84.675463,13,21,0.619048,0.510250,0.510250,0.537449
3,3,2010,11,A,0,3111,63,27,52,4,...,76.240552,90.056925,73.858065,86.624924,19,31,0.612903,0.488375,0.488375,0.519507
4,4,2010,11,H,1,3119,74,30,74,7,...,91.383812,80.399196,65.408333,83.360879,8,24,0.333333,0.411396,0.411396,0.391880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103159,51577,2019,132,A,0,3251,49,19,53,4,...,110.833173,89.543130,69.175000,104.383265,15,31,0.483871,0.496634,0.496634,0.493444
103160,51578,2019,132,H,0,3179,79,24,56,14,...,118.818139,106.159747,75.631641,100.219640,26,32,0.812500,0.543791,0.543791,0.610968
103161,51579,2019,132,A,0,3335,54,20,56,4,...,100.619195,98.406874,66.737946,98.674957,22,28,0.785714,0.481376,0.481376,0.557461
103162,51580,2019,132,A,0,3144,45,18,61,5,...,89.517079,84.390516,68.745968,92.268808,19,31,0.612903,0.423150,0.423150,0.470589
103163,51581,2019,132,A,0,3384,54,19,57,4,...,92.477325,95.311782,75.051562,91.058970,15,32,0.468750,0.488198,0.488198,0.483336

In [34]:
#Save to csv
reg_rpi.to_csv("derived_stats.csv", index=False)